/*/obj
/*/Temp
/*/Library
/*/Logs
/*/*.pidb
/*/*.csproj
/*/*.csproj.DotSettings
/*/*.sln
/*/*.sln.DotSettings.user
/*/*.userprefs
/*/*.unityproj
/*/*.unitypackage
/*/Assets/Plugins/Editor/JetBrains*

/**/*_Private*

/*/Assets/VRCSDK*
/*/Assets/Yodokorochan*
/*/Assets/Samples/VRChat SDK*
