/*/obj
/*/Temp
/*/Library
/*/*.pidb
/*/*.csproj
/*/*.sln
/*/*.userprefs
/*/*.unityproj
/*/*.unitypackage
/*/Assets/Plugins/Editor/JetBrains*

/**/*_Private*

/*/Assets/VRCSDK*
/*/Assets/Yodokorochan*
